table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
}
.container {
  margin: 0 auto;
  width: 90%;
}
h1 {
  font-family: 'Lexend Exa', sans-serif;
  margin-top: 0;
}
header {
  display: flex;
  justify-content: flex-end;
}
header nav {
  text-decoration: none;
  margin: 20px 0;
}
header nav a {
  text-decoration: none;
  color: black;
  margin-left: 15px;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: lightgrey;
}
main .img-container {
  width: 95%;
  height: 100%;
  margin-top: 50px;
}
main .img-container img {
  width: 20%;
  height: 10%;
}
main .name,
main .teamup {
  width: 95%;
}
main .teamup {
  margin-bottom: 60px;
  border-top: 1px solid black;
}
main .teamup .button {
  margin-top: 1%;
}
main .teamup p {
  padding-top: 20px;
}
main .teamup a {
  text-decoration: none;
  color: white;
  background: black;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 0.5%;
}
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
section .listen-up,
section .stuff {
  width: 48%;
  margin-top: 30px;
}
section .stuff .stuffitems {
  border: 1px solid grey;
}
section .stuff p {
  padding: 10px;
  border-bottom: 1px solid grey;
  border-radius: 2px;
}
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}
